@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-comic-gradient {
  background-image: linear-gradient(45deg, #FF6B6B, #FF8E53, #FFAA5B);
  /* You can customize additional background properties here */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
